Automation/Create-ServiceNow-Incident-KeyVault/Create-ServiceNow-Incident-KeyVault.json
{
	"$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"metadata": {
		"comments": "Automation: Azure Logic App process to query MD EASM Inventory and create incidents in ServiceNow Incident table using Azure KeyVault for storing EASM API Client Secrets",
		"author": "MD EASM Go-To-Production (GTP) Customer Experience Engineering (CxE) Team. Email: mdeasm_cxe@microsoft.com"
	},
	"parameters": {
		"workflows_EASM_CreateSNOW_Incident_name": {
			"defaultValue": "EASM-CreateSNOW-Incident-KeyVault",
			"type": "String"
		},
		"ClientId": {
			"defaultValue": "",
			"type": "String"
		},
		"KeyVaultSecretName": {
			"defaultValue": "",
			"type": "String"
		},
		"EASMWorkspaceName": {
			"defaultValue": "",
			"type": "String"
		},
		"Region": {
			"defaultValue": "",
			"type": "String",
			"allowedValues": [
				"southcentralus",
				"eastus",
				"australiaeast",
				"westus3",
				"swedencentral",
				"eastasia",
				"japaneast",
				"westeurope",
				"northeurope",
				"switzerlandnorth",
				"canadacentral",
				"centralus",
				"norwayeast",
				"francecentral",
				""
			],
			"metadata": {
				"description": "Allowed Azure region values, southcentralus, eastus, australiaeast, westus3, swedencentral, eastasia, japaneast, westeurope, northeurope, switzerlandnorth, canadacentral, centralus, norwayeast, francecentral"
			}
		},
		"RunFrequency": {
			"defaultValue": 1,
			"type": "Int",
			"metadata": {
				"description": "Run Frequency is in Hours"
			}
		},
		"api-version": {
			"defaultValue": "2022-11-01-preview",
			"type": "String"
		},
		"filter": {
			"defaultValue": "state = \"confirmed\"",
			"type": "String"
		},
		"maxpagesize": {
			"defaultValue": "50",
			"type": "String"
		}
	},
	"variables": {
		"ServiceNowConnectionName": "[concat('ServiceNow-', parameters('workflows_EASM_CreateSNOW_Incident_name'))]",
		"KeyvaultConnectionName": "[concat('Keyvault-', parameters('workflows_EASM_CreateSNOW_Incident_name'))]"
	},
	"resources": [
		{
			"type": "Microsoft.Web/connections",
			"apiVersion": "2016-06-01",
			"name": "[variables('ServiceNowConnectionName')]",
			"location": "[resourceGroup().location]",
			"properties": {
				"api": {
					"id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/service-now')]"
				}
			}
		},
		{
			"type": "Microsoft.Web/connections",
			"apiVersion": "2016-06-01",
			"name": "[variables('KeyvaultConnectionName')]",
			"location": "[resourceGroup().location]",
			"properties": {
				"api": {
					"id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/keyvault')]"
				}
			}
		},
		{
			"type": "Microsoft.Logic/workflows",
			"apiVersion": "2017-07-01",
			"name": "[parameters('workflows_EASM_CreateSNOW_Incident_name')]",
			"location": "[resourceGroup().location]",
			"dependsOn": [
				"[resourceId('Microsoft.Web/connections', variables('ServiceNowConnectionName'))]",
				"[resourceId('Microsoft.Web/connections', variables('KeyvaultConnectionName'))]"
			],
			"properties": {
				"state": "Enabled",
				"definition": {
					"$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
					"contentVersion": "1.0.0.0",
					"parameters": {
						"$connections": {
							"defaultValue": {},
							"type": "Object"
						},
						"ClientId": {
							"defaultValue": "",
							"type": "String"
						},
						"EASMWorkspaceName": {
							"defaultValue": "",
							"type": "String"
						},
						"KeyVaultSecretName": {
							"defaultValue": "",
							"type": "String"
						},
						"Region": {
							"defaultValue": "eastus",
							"type": "String",
							"allowedValues": [
								"southcentralus",
								"eastus",
								"australiaeast",
								"westus3",
								"swedencentral",
								"eastasia",
								"japaneast",
								"westeurope",
								"northeurope",
								"switzerlandnorth",
								"canadacentral",
								"centralus",
								"norwayeast",
								"francecentral"
							]
						},
						"ResourceGroupName": {
							"defaultValue": "[resourceGroup().name]",
							"type": "String"
						},
						"RunFrequency": {
							"defaultValue": 1,
							"type": "Int"
						},
						"SubscriptionId": {
							"defaultValue": "[subscription().subscriptionId]",
							"type": "String"
						},
						"TenantId": {
							"defaultValue": "[subscription().tenantId]",
							"type": "String"
						},
						"api-version": {
							"defaultValue": "2022-11-01-preview",
							"type": "String"
						},
						"filter": {
							"defaultValue": "state = \"confirmed\"",
							"type": "String"
						},
						"maxpagesize": {
							"defaultValue": "50",
							"type": "String"
						}
					},
					"triggers": {
						"Recurrence": {
							"recurrence": {
								"frequency": "Hour",
								"interval": "@parameters('RunFrequency')"
							},
							"evaluatedRecurrence": {
								"frequency": "Hour",
								"interval": 1
							},
							"type": "Recurrence",
							"conditions": [],
							"runtimeConfiguration": {
								"concurrency": {
									"runs": 1
								}
							}
						}
					},
					"actions": {
						"For_each": {
							"foreach": "@body('Scheduled_Query_to_EASM')?['content']",
							"actions": {
								"Create_Incident": {
									"runAfter": {
										"Parse_JSON": [
											"Succeeded"
										]
									},
									"type": "ApiConnection",
									"inputs": {
										"host": {
											"connection": {
												"name": "@parameters('$connections')['service-now']['connectionId']"
											}
										},
										"method": "post",
										"body": {
											"caller_id": "MDEASM Automation",
											"comments": "EASM Inventory Asset Details\n\nName:  @{body('Parse_JSON')?['name']}\nType: @{body('Parse_JSON')?['kind']}\nuuid: @{body('Parse_JSON')?['uuid']}\nAdded to Inventory: @{body('Parse_JSON')?['createdDate']}\nLast updated: @{body('Parse_JSON')?['updatedDate']}\n",
											"impact": "2",
											"priority": "2",
											"short_description": "MD EASM reported vulnerability for asset \"@{body('Parse_JSON')?['name']}\"",
											"sys_tags": "MDEASM",
											"urgency": "2"
										},
										"path": "/api/now/v2/table/@{encodeURIComponent('incident')}",
										"queries": {
											"sysparm_display_value": false,
											"sysparm_exclude_reference_link": true
										}
									}
								},
								"Parse_JSON": {
									"type": "ParseJson",
									"inputs": {
										"content": "@items('For_each')",
										"schema": {
											"properties": {
												"asset": {
													"properties": {},
													"type": "object"
												},
												"auditTrail": {
													"items": {
														"properties": {
															"displayName": {},
															"id": {},
															"kind": {
																"type": "string"
															},
															"name": {
																"type": "string"
															},
															"reason": {}
														},
														"required": [
															"id",
															"name",
															"displayName",
															"kind",
															"reason"
														],
														"type": "object"
													},
													"type": "array"
												},
												"createdDate": {
													"type": "string"
												},
												"discoGroupName": {},
												"displayName": {
													"type": "string"
												},
												"externalId": {},
												"id": {
													"type": "string"
												},
												"kind": {
													"type": "string"
												},
												"labels": {},
												"name": {
													"type": "string"
												},
												"reason": {},
												"state": {
													"type": "string"
												},
												"updatedDate": {
													"type": "string"
												},
												"uuid": {
													"type": "string"
												},
												"wildcard": {
													"type": "boolean"
												}
											},
											"type": "object"
										}
									}
								},
								"Update_EASM_Asset": {
									"runAfter": {
										"Create_Incident": [
											"Succeeded"
										]
									},
									"limit": {
										"timeout": "PT90S"
									},
									"type": "Http",
									"inputs": {
										"uri": "https://@{parameters('Region')}.easm.defender.microsoft.com/subscriptions/@{parameters('SubscriptionId')}/resourceGroups/@{parameters('ResourceGroupName')}/workspaces/@{parameters('EASMWorkspaceName')}/assets",
										"method": "PATCH",
										"headers": {
											"Content-Type": "application/json"
										},
										"queries": {
											"api-version": "@parameters('api-version')",
											"filter": "uuid=@{items('For_each')?['uuid']}"
										},
										"body": {
											"externalId": "@{body('Create_Incident')?['result']?['number']}"
										},
										"authentication": {
											"audience": "https://easm.defender.microsoft.com/",
											"authority": "",
											"clientId": "@{parameters('ClientId')}",
											"secret": "@{body('Get_secret')?['value']}",
											"tenant": "@{parameters('TenantId')}",
											"type": "ActiveDirectoryOAuth"
										},
										"retryPolicy": {
											"type": "fixed",
											"count": 10,
											"interval": "PT20S"
										}
									}
								}
							},
							"runAfter": {
								"Scheduled_Query_to_EASM": [
									"Succeeded"
								]
							},
							"type": "Foreach"
						},
						"Get_secret": {
							"runAfter": {},
							"type": "ApiConnection",
							"inputs": {
								"host": {
									"connection": {
										"name": "@parameters('$connections')['keyvault']['connectionId']"
									}
								},
								"method": "get",
								"path": "/secrets/@{encodeURIComponent(parameters('KeyVaultSecretName'))}/value"
							}
						},
						"Scheduled_Query_to_EASM": {
							"runAfter": {
								"Get_secret": [
									"Succeeded"
								]
							},
							"type": "Http",
							"inputs": {
								"uri": "https://@{parameters('Region')}.easm.defender.microsoft.com/subscriptions/@{parameters('SubscriptionId')}/resourceGroups/@{parameters('ResourceGroupName')}/workspaces/@{parameters('EASMWorkspaceName')}/assets",
								"method": "GET",
								"headers": {
									"Content-Type": "application/json",
									"User-Agent": "GitHub-LogicApps-CreateSNOWIncident"
								},
								"queries": {
									"api-version": "@{parameters('api-version')}",
									"filter": "@{parameters('filter')}",
									"mark": "*",
									"maxpagesize": "@{parameters('maxpagesize')}",
									"skip": "0"
								},
								"authentication": {
									"audience": "https://easm.defender.microsoft.com/",
									"clientId": "@{parameters('ClientId')}",
									"secret": "@{body('Get_secret')?['value']}",
									"tenant": "@{parameters('TenantId')}",
									"type": "ActiveDirectoryOAuth"
								}
							},
							"runtimeConfiguration": {
								"contentTransfer": {
									"transferMode": "Chunked"
								}
							}
						}
					},
					"outputs": {}
				},
				"parameters": {
					"$connections": {
						"value": {
							"service-now": {
								"id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/service-now')]",
								"connectionId": "[resourceId('Microsoft.Web/connections', variables('ServiceNowConnectionName'))]",
								"connectionName": "[variables('ServiceNowConnectionName')]"
							},
							"keyvault": {
								"id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/keyvault')]",
								"connectionId": "[resourceId('Microsoft.Web/connections', variables('KeyvaultConnectionName'))]",
								"connectionName": "[variables('KeyvaultConnectionName')]"
							}
						}
					},
					"ClientId": {
						"value": "[parameters('ClientId')]"
					},
					"EASMWorkspaceName": {
						"value": "[parameters('EASMWorkspaceName')]"
					},
					"KeyVaultSecretName": {
						"value": "[parameters('KeyVaultSecretName')]"
					},
					"RunFrequency": {
						"value": "[parameters('RunFrequency')]"
					},
					"api-version": {
						"value": "[parameters('api-version')]"
					},
					"filter": {
						"value": "[parameters('filter')]"
					},
					"Region": {
						"value": "[parameters('Region')]"
					},
					"maxpagesize": {
						"value": "[parameters('maxpagesize')]"
					}
				}
			}
		}
	]
}