Automation/Inventory-Alerts-Email/Inventory-Alerts-Email.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
	"metadata": {
		"comments": "Automation: Azure Logic App process to Monitor Inventory Assets and alert via Email notifications for required or custom Inventory query.",
		"author": "MD EASM Go-To-Production (GTP) Customer Experience Engineering (CxE) Team. Email: mdeasm_cxe@microsoft.com"
	},
    "parameters": {
        "workflows_EASM_Alerts_Email_name": {
            "defaultValue": "Inventory-Alerts-Email",
            "type": "String"
        },
		"ClientId": {
			"defaultValue": "Client-ID",
			"type": "String"
		},
		"ClientSecret": {
			"defaultValue": "Client-Secret",
			"type": "SecureString"
		},
		"EASMWorkspaceName": {
			"defaultValue": "WorkspaceName",
			"type": "String"
		},
		"RunFrequency": {
			"defaultValue": 60,
			"type": "Int"
		},
		"api-version": {
			"defaultValue": "2022-11-01-preview",
			"type": "String"
		},
		"LabelName": {
			"defaultValue": "LabelName",
			"type": "String"
		},
		"filter": {
			"defaultValue": "filter",
			"type": "String"
		},
		"maxpagesize": {
			"defaultValue": "50",
			"type": "String"
		}
    },
    "variables": {
		"Office365ConnectionName": "[concat('Office365-', parameters('workflows_EASM_Alerts_Email_name'))]"
    },
    "resources": [
        {
			"type": "Microsoft.Web/connections",
			"apiVersion": "2016-06-01",
			"name": "[variables('Office365ConnectionName')]",
			"location": "[resourceGroup().location]",
			"properties": {
				"api": {
					"id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/office365')]"
				}
			}
		},{
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_EASM_Alerts_Email_name')]",
            "location": "[resourceGroup().location]",
            "dependsOn": [
				"[resourceId('Microsoft.Web/connections', variables('Office365ConnectionName'))]"
	    ],
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        },
                        "ClientId": {
                            "defaultValue": "Client-ID",
                            "type": "String"
                        },
                        "ClientSecret": {
                            "defaultValue": "Client-Secret",
                            "type": "SecureString"
                        },
                        "EASMWorkspaceName": {
                            "defaultValue": "workSpaceName",
                            "type": "String"
                        },
                        "LabelName": {
                            "defaultValue": "EmailAlert",
                            "type": "String"
                        },
                        "Region": {
                            "defaultValue": "[resourceGroup().location]",
                            "type": "String"
                        },
                        "ResourceGroupName": {
                            "defaultValue": "[resourceGroup().name]",
                            "type": "String"
                        },
                        "RunFrequency": {
                            "defaultValue": 60,
                            "type": "Int"
                        },
                        "SubscriptionId": {
                            "defaultValue": "[subscription().subscriptionId]",
                            "type": "String"
                        },
                        "TenantId": {
                            "defaultValue": "[subscription().tenantId]",
                            "type": "String"
                        },
                        "api-version": {
                            "defaultValue": "2022-11-01-preview",
                            "type": "String"
                        },
                        "filter": {
                            "defaultValue": "filter",
                            "type": "String"
                        },
                        "maxpagesize": {
                            "defaultValue": "50",
                            "type": "String"
                        }
                    },
                    "triggers": {
                        "Scheduled_Query_to_EASM": {
                            "recurrence": {
                                "frequency": "Second",
                                "interval": "@parameters('RunFrequency')"
                            },
                            "evaluatedRecurrence": {
                                "frequency": "Second",
                                "interval": 86400
                            },
                            "type": "Http",
                            "inputs": {
                                "authentication": {
                                    "audience": "https://easm.defender.microsoft.com/",
                                    "clientId": "@parameters('ClientId')",
                                    "secret": "@parameters('ClientSecret')",
                                    "tenant": "@parameters('TenantId')",
                                    "type": "ActiveDirectoryOAuth"
                                },
                                "headers": {
                                    "Content-Type": "application/json",
                                    "User-Agent": "GitHub-LogicApps-EmailAlerts"
                                },
                                "method": "GET",
                                "queries": {
                                    "api-version": "@parameters('api-version')",
                                    "filter": "@{parameters('filter')}  and label != @{parameters('LabelName')}",
                                    "mark": "*",
                                    "maxpagesize": "@parameters('maxpagesize')"
                                },
                                "retryPolicy": {
                                    "count": 6,
                                    "interval": "PT10S",
                                    "type": "fixed"
                                },
                                "uri": "https://@{parameters('Region')}.easm.defender.microsoft.com/subscriptions/@{parameters('SubscriptionId')}/resourceGroups/@{parameters('ResourceGroupName')}/workspaces/@{parameters('EASMWorkspaceName')}/assets"
                            },
                            "conditions": [
                                {
                                    "expression": "@greater(triggerBody()?.totalElements,0)"
                                }
                            ],
                            "runtimeConfiguration": {
                                "concurrency": {
                                    "runs": 1
                                }
                            }
                        }
                    },
                    "actions": {
                        "Condition": {
                            "actions": {
                                "Create_Label": {
                                    "runAfter": {},
                                    "limit": {
                                        "timeout": "PT90S"
                                    },
                                    "type": "Http",
                                    "inputs": {
                                        "authentication": {
                                            "audience": "https://management.core.windows.net/",
                                            "clientId": "@parameters('ClientId')",
                                            "secret": "@parameters('ClientSecret')",
                                            "tenant": "@parameters('TenantId')",
                                            "type": "ActiveDirectoryOAuth"
                                        },
                                        "body": {},
                                        "headers": {
                                            "Content-Type": "application/json",
                                            "User-Agent": "GitHub-LogicApps-EmailAlerts"
                                        },
                                        "method": "PUT",
                                        "queries": {
                                            "api-version": "2022-04-01-preview"
                                        },
                                        "retryPolicy": {
                                            "count": 10,
                                            "interval": "PT20S",
                                            "type": "fixed"
                                        },
                                        "uri": "https://management.azure.com/subscriptions/@{parameters('SubscriptionId')}/resourceGroups@{parameters('ResourceGroupName')}/providers/Microsoft.Easm/workspaces/@{parameters('EASMWorkspaceName')}/labels/@{parameters('LabelName')}"
                                    }
                                },
                                "Update_Assets": {
                                    "runAfter": {
                                        "Create_Label": [
                                            "Succeeded"
                                        ]
                                    },
                                    "limit": {
                                        "timeout": "PT90S"
                                    },
                                    "type": "Http",
                                    "inputs": {
                                        "authentication": {
                                            "audience": "https://easm.defender.microsoft.com/",
                                            "clientId": "@parameters('ClientId')",
                                            "secret": "@parameters('ClientSecret')",
                                            "tenant": "@parameters('TenantId')",
                                            "type": "ActiveDirectoryOAuth"
                                        },
                                        "body": {
                                            "labels": {
                                                "@{parameters('LabelName')}": true
                                            }
                                        },
                                        "headers": {
                                            "Content-Type": "application/json",
                                            "User-Agent": "GitHub-LogicApps-EmailAlerts"
                                        },
                                        "method": "PATCH",
                                        "queries": {
                                            "api-version": "@parameters('api-version')",
                                            "filter": "@{parameters('filter')} and label != @{parameters('LabelName')}"
                                        },
                                        "retryPolicy": {
                                            "count": 10,
                                            "interval": "PT20S",
                                            "type": "fixed"
                                        },
                                        "uri": "https://@{parameters('Region')}.easm.defender.microsoft.com/subscriptions/@{parameters('SubscriptionId')}/resourceGroups/@{parameters('ResourceGroupName')}/workspaces/@{parameters('EASMWorkspaceName')}/assets"
                                    }
                                }
                            },
                            "runAfter": {
                                "Update_EASM_Asset": [
                                    "Failed",
                                    "TimedOut"
                                ]
                            },
                            "expression": {
                                "and": [
                                    {
                                        "equals": [
                                            "@outputs('Update_EASM_Asset')['statusCode']",
                                            400
                                        ]
                                    }
                                ]
                            },
                            "type": "If",
                            "description": "If label does not exist, this path creates it and then updates assets with newly created label"
                        },
                        "Create_CSV_table": {
                            "runAfter": {
                                "Parse_JSON": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Table",
                            "inputs": {
                                "format": "CSV",
                                "from": "@body('Parse_JSON')"
                            }
                        },
                        "Parse_JSON": {
                            "runAfter": {},
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@triggerBody()?['content']",
                                "schema": {
                                    "items": {
                                        "properties": {
                                            "asset": {
                                                "properties": {},
                                                "type": "object"
                                            },
                                            "auditTrail": {
                                                "type": "array"
                                            },
                                            "createdDate": {
                                                "type": "string"
                                            },
                                            "discoGroupName": {},
                                            "displayName": {
                                                "type": "string"
                                            },
                                            "externalId": {},
                                            "id": {
                                                "type": "string"
                                            },
                                            "kind": {
                                                "type": "string"
                                            },
                                            "labels": {
                                                "type": "array"
                                            },
                                            "name": {
                                                "type": "string"
                                            },
                                            "reason": {},
                                            "state": {
                                                "type": "string"
                                            },
                                            "updatedDate": {
                                                "type": "string"
                                            },
                                            "uuid": {
                                                "type": "string"
                                            },
                                            "wildcard": {
                                                "type": "boolean"
                                            }
                                        },
                                        "required": [
                                            "id",
                                            "name",
                                            "displayName",
                                            "kind",
                                            "uuid",
                                            "asset",
                                            "createdDate",
                                            "updatedDate",
                                            "state",
                                            "externalId",
                                            "labels",
                                            "wildcard",
                                            "discoGroupName"
                                        ],
                                        "type": "object"
                                    },
                                    "type": "array"
                                }
                            }
                        },
                        "Send_an_email_(V2)": {
                            "runAfter": {
                                "Create_CSV_table": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "Attachments": [
                                        {
                                            "ContentBytes": "@{base64(body('Create_CSV_table'))}",
                                            "Name": "EASM_alerts.csv"
                                        }
                                    ],
                                    "Body": "<p>Hi,<br>\n<br>\nMDEASM detected @{triggerBody()?['totalElements']} Assets in your Inventory matching your monitoring query,<br>\n@{parameters('filter')}<br>\n<br>\nPlease check your EASM Inventory for individual Asset details found in this alert.<br>\nAlso, attached is list of these assets for your reference in CSV format. <br>\n<br>\n---<br>\nThanks for using MDEASM Alerts&nbsp;</p>",
                                    "Importance": "Normal",
                                    "Subject": "MDEASM Alert: @{triggerBody()?['totalElements']} Assets detected matching your monitoring query",
                                    "To": "TestEmail@test.com"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['office365']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/v2/Mail"
                            }
                        },
                        "Update_EASM_Asset": {
                            "runAfter": {
                                "Send_an_email_(V2)": [
                                    "Succeeded"
                                ]
                            },
                            "limit": {
                                "timeout": "PT90S"
                            },
                            "type": "Http",
                            "inputs": {
                                "authentication": {
                                    "audience": "https://easm.defender.microsoft.com/",
                                    "clientId": "@parameters('ClientId')",
                                    "secret": "@parameters('ClientSecret')",
                                    "tenant": "@parameters('TenantId')",
                                    "type": "ActiveDirectoryOAuth"
                                },
                                "body": {
                                    "labels": {
                                        "@{parameters('LabelName')}": true
                                    }
                                },
                                "headers": {
                                    "Content-Type": "application/json",
                                    "User-Agent": "GitHub-LogicApps-EmailAlerts"
                                },
                                "method": "PATCH",
                                "queries": {
                                    "api-version": "@parameters('api-version')",
                                    "filter": "@{parameters('filter')} and label != @{parameters('LabelName')}"
                                },
                                "retryPolicy": {
                                    "count": 10,
                                    "interval": "PT20S",
                                    "type": "fixed"
                                },
                                "uri": "https://@{parameters('Region')}.easm.defender.microsoft.com/subscriptions/@{parameters('SubscriptionId')}/resourceGroups/@{parameters('ResourceGroupName')}/workspaces/@{parameters('EASMWorkspaceName')}/assets"
                            },
                            "description": "Update Alerted EASM Assets with a label to track history "
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "office365": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('Office365ConnectionName'))]",
                                "connectionName": "[variables('Office365ConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/office365')]"
                            }
                        }
                    },
                    "ClientId": {
                        "value": "[parameters('ClientId')]"
                    },
                    "ClientSecret": {
			"value": "[parameters('ClientSecret')]"
		    },
                    "EASMWorkspaceName": {
                        "value": "[parameters('EASMWorkspaceName')]"
                    },
                    "RunFrequency": {
                        "value": "[parameters('RunFrequency')]"
                    },
		    "LabelName": {
		    	"value": "[parameters('LabelName')]"
		    },
                    "api-version": {
                        "value": "[parameters('api-version')]"
                    },
                    "filter": {
                        "value": "[parameters('filter')]"
                    },
                    "maxpagesize": {
                        "value": "[parameters('maxpagesize')]"
                    }
                }
            }
        }
    ]
}
