Automation/Create-ServiceNow-Incident/Create-ServiceNow-Incident.json
{
	"$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"metadata": {
		"comments": "Automation: Azure Logic App process to query MD EASM Inventory and create incidents in ServiceNow Incident table",
		"author": "MD EASM Go-To-Production (GTP) Customer Experience Engineering (CxE) Team. Email: mdeasm_cxe@microsoft.com"
	},
	"parameters": {
		"workflows_EASM_CreateSNOW_Incident_name": {
			"defaultValue": "EASM-CreateSNOW-Incident",
			"type": "String"
		},
		"ClientId": {
			"defaultValue": "Client-ID",
			"type": "String"
		},
		"ClientSecret": {
			"defaultValue": "Client-Secret",
			"type": "SecureString"
		},
		"EASMWorkspaceName": {
			"defaultValue": "WorkspaceName",
			"type": "String"
		},
		"RunFrequency": {
			"defaultValue": 60,
			"type": "Int"
		},
		"api-version": {
			"defaultValue": "2022-04-01-preview",
			"type": "String"
		},
		"filter": {
			"defaultValue": "state = \"confirmed\" and kind = \"PAGE\" and rootUrl = true and externalId empty",
			"type": "String"
		},
		"maxpagesize": {
			"defaultValue": "50",
			"type": "String"
		}
	},
	"variables": {
		"ServiceNow5ConnectionName": "[concat('ServiceNow5-', parameters('workflows_EASM_CreateSNOW_Incident_name'))]"
	},
	"resources": [
		{
			"type": "Microsoft.Web/connections",
			"apiVersion": "2016-06-01",
			"name": "[variables('ServiceNow5ConnectionName')]",
			"location": "[resourceGroup().location]",
			"properties": {
				"api": {
					"id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/service-now')]"
				}
			}
		},
		{
			"type": "Microsoft.Logic/workflows",
			"apiVersion": "2017-07-01",
			"name": "[parameters('workflows_EASM_CreateSNOW_Incident_name')]",
			"location": "[resourceGroup().location]",
			"dependsOn": [
				"[resourceId('Microsoft.Web/connections', variables('ServiceNow5ConnectionName'))]"
			],
			"properties": {
				"state": "Enabled",
				"definition": {
					"$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
					"contentVersion": "1.0.0.0",
					"parameters": {
						"$connections": {
							"defaultValue": {},
							"type": "Object"
						},
						"ClientId": {
							"defaultValue": "Client-ID",
							"type": "String"
						},
						"ClientSecret": {
							"defaultValue": "Client-Secret",
							"type": "SecureString"
						},
						"EASMWorkspaceName": {
							"defaultValue": "workSpaceName",
							"type": "String"
						},
						"Region": {
							"defaultValue": "[resourceGroup().location]",
							"type": "String"
						},
						"ResourceGroupName": {
							"defaultValue": "[resourceGroup().name]",
							"type": "String"
						},
						"RunFrequency": {
							"defaultValue": 60,
							"type": "Int"
						},
						"SubscriptionId": {
							"defaultValue": "[subscription().subscriptionId]",
							"type": "String"
						},
						"TenantId": {
							"defaultValue": "[subscription().tenantId]",
							"type": "String"
						},
						"api-version": {
							"defaultValue": "2022-04-01-preview",
							"type": "String"
						},
						"filter": {
							"defaultValue": "state = \"confirmed\" and kind = \"PAGE\" and rootUrl = true and externalId empty",
							"type": "String"
						},
						"maxpagesize": {
							"defaultValue": "50",
							"type": "String"
						}
					},
					"triggers": {
						"Scheduled_Query_to_EASM": {
							"recurrence": {
								"frequency": "Second",
								"interval": "@parameters('RunFrequency')"
							},
							"evaluatedRecurrence": {
								"frequency": "Second",
								"interval": 60
							},
							"type": "Http",
							"inputs": {
								"authentication": {
									"audience": "https://easm.defender.microsoft.com/",
									"clientId": "@parameters('ClientId')",
									"secret": "@parameters('ClientSecret')",
									"tenant": "@parameters('TenantId')",
									"type": "ActiveDirectoryOAuth"
								},
								"headers": {
									"Content-Type": "application/json",
									"User-Agent": "GitHub-LogicApps-CreateSNOWIncident"
								},
								"method": "GET",
								"queries": {
									"api-version": "@parameters('api-version')",
									"filter": "@parameters('filter')",
									"mark": "*",
									"maxpagesize": "@parameters('maxpagesize')",
									"skip": "0"
								},
								"retryPolicy": {
									"count": 6,
									"interval": "PT10S",
									"type": "fixed"
								},
								"uri": "https://@{parameters('Region')}.easm.defender.microsoft.com/subscriptions/@{parameters('SubscriptionId')}/resourceGroups/@{parameters('ResourceGroupName')}/workspaces/@{parameters('EASMWorkspaceName')}/assets"
							},
							"conditions": [
								{
									"expression": "@greater(triggerBody()?.totalElements,0)"
								}
							],
							"runtimeConfiguration": {
								"concurrency": {
									"runs": 1
								}
							}
						}
					},
					"actions": {
						"For_each": {
							"foreach": "@triggerBody()?['content']",
							"actions": {
								"Create_Incident": {
									"runAfter": {
										"Parse_JSON": [
											"Succeeded"
										]
									},
									"type": "ApiConnection",
									"inputs": {
										"body": {
											"caller_id": "MDEASM Automation",
											"comments": "EASM Inventory Asset Details\n\nName:  @{body('Parse_JSON')?['name']}\nType: @{body('Parse_JSON')?['kind']}\nuuid: @{body('Parse_JSON')?['uuid']}\nAdded to Inventory: @{body('Parse_JSON')?['createdDate']}\nLast updated: @{body('Parse_JSON')?['updatedDate']}\n",
											"impact": "2",
											"priority": "2",
											"short_description": "MD EASM reported vulnerability for asset \"@{body('Parse_JSON')?['name']}\"",
											"sys_tags": "MDEASM",
											"urgency": "2"
										},
										"host": {
											"connection": {
												"name": "@parameters('$connections')['service-now_1']['connectionId']"
											}
										},
										"method": "post",
										"path": "/api/now/v2/table/@{encodeURIComponent('incident')}",
										"queries": {
											"sysparm_display_value": false,
											"sysparm_exclude_reference_link": true
										},
										"retryPolicy": {
											"count": 10,
											"interval": "PT10S",
											"type": "fixed"
										}
									}
								},
								"Parse_JSON": {
									"runAfter": {},
									"type": "ParseJson",
									"inputs": {
										"content": "@items('For_each')",
										"schema": {
											"properties": {
												"asset": {
													"properties": {},
													"type": "object"
												},
												"auditTrail": {
													"items": {
														"properties": {
															"displayName": {},
															"id": {},
															"kind": {
																"type": "string"
															},
															"name": {
																"type": "string"
															},
															"reason": {}
														},
														"required": [
															"id",
															"name",
															"displayName",
															"kind",
															"reason"
														],
														"type": "object"
													},
													"type": "array"
												},
												"createdDate": {
													"type": "string"
												},
												"discoGroupName": {},
												"displayName": {
													"type": "string"
												},
												"externalId": {},
												"id": {
													"type": "string"
												},
												"kind": {
													"type": "string"
												},
												"labels": {},
												"name": {
													"type": "string"
												},
												"reason": {},
												"state": {
													"type": "string"
												},
												"updatedDate": {
													"type": "string"
												},
												"uuid": {
													"type": "string"
												},
												"wildcard": {
													"type": "boolean"
												}
											},
											"type": "object"
										}
									}
								},
								"Update_EASM_Asset": {
									"runAfter": {
										"Create_Incident": [
											"Succeeded"
										]
									},
									"limit": {
										"timeout": "PT90S"
									},
									"type": "Http",
									"inputs": {
										"authentication": {
											"audience": "https://easm.defender.microsoft.com/",
											"clientId": "@parameters('ClientId')",
											"secret": "@parameters('ClientSecret')",
											"tenant": "@parameters('TenantId')",
											"type": "ActiveDirectoryOAuth"
										},
										"body": {
											"externalId": "@{body('Create_Incident')?['result']?['number']}"
										},
										"headers": {
											"Content-Type": "application/json"
										},
										"method": "PATCH",
										"queries": {
											"api-version": "@parameters('api-version')",
											"filter": "uuid=@{items('For_each')?['uuid']}"
										},
										"retryPolicy": {
											"count": 10,
											"interval": "PT20S",
											"type": "fixed"
										},
										"uri": "https://@{parameters('Region')}.easm.defender.microsoft.com/subscriptions/@{parameters('SubscriptionId')}/resourceGroups/@{parameters('ResourceGroupName')}/workspaces/@{parameters('EASMWorkspaceName')}/assets"
									},
									"description": "Update EASM Asset External Id field with the ServiceNow incident number "
								}
							},
							"runAfter": {},
							"type": "Foreach"
						}
					},
					"outputs": {}
				},
				"parameters": {
					"$connections": {
						"value": {
							"service-now_1": {
								"connectionId": "[resourceId('Microsoft.Web/connections', variables('ServiceNow5ConnectionName'))]",
								"connectionName": "[variables('ServiceNow5ConnectionName')]",
								"id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/service-now')]"
							}
						}
					},
					"ClientId": {
						"value": "[parameters('ClientId')]"
					},
					"ClientSecret": {
						"value": "[parameters('ClientSecret')]"
					},
					"EASMWorkspaceName": {
						"value": "[parameters('EASMWorkspaceName')]"
					},
					"RunFrequency": {
						"value": "[parameters('RunFrequency')]"
					},
					"api-version": {
						"value": "[parameters('api-version')]"
					},
					"filter": {
						"value": "[parameters('filter')]"
					},
					"maxpagesize": {
						"value": "[parameters('maxpagesize')]"
					}
				}
			}
		}
	]
}